ul.nav.navbar-nav.navbar-right {
  background-color: #222;
}

ul.nav.navbar-nav.navbar-right li div {
  text-align: center;
}

ul.nav.navbar-nav.navbar-right li a {
  padding-top: 5px;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
    height: 80px;
}

.navbar-default .navbar-brand {
    font-family: "Quantico","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
}

.nav-container {
  margin-top: 15px;
}

.page-top-logo {
  margin-top: -20px;
}

.logo-image {
    width: 50px;
    vertical-align: top;
}

.logo-text-image {
  width: 130px;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: 15px;
}

.logo-text {
  display: inline-block;
  color: #24ac66;
  font-size: 30px;
  font-family: 'Kaushan Script', cursive;
  margin-top: 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

#brand {
  width: 220px;
  height: 220px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.round-background {
  width: 100%;
  height: 100%;
  background-color: rgba(250,250,250,0.7);
  display: inline-block;
  border-radius: 50%;
}

#logo {
  display: inline-block;
  width: 70%;
  margin-top: -250px;
}

#address, #telephone {
  text-align: center;
  margin-top: 25px;
}

#address h3, #telephone h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(250, 250, 250, 1);
  font-weight: 400;
  font-size: 20px;
}

#address h3.content-title, #telephone h3.content-title {
  font-size: 25px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

#address > .name-zig, #telephone > .name-zig {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#intro-message {
  margin-top: 8%;
}

#intro-message h3 {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: 900;
  font-size: 31px;
  color: white;
  margin-bottom: 0px;
  margin-top: 10px;
}

#intro-message h4 {
  text-shadow: 1px 1px 3px rgba(250, 250, 250, 1);
  font-weight: 700;
  font-size: 20px;
  color: black;
}

/*MISSION SECTION*/
.cali-eight {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
}


/*MENU SECTION*/
.project-wrapper img {
  height: 230px;
  width: 100%;
}

#portfoliowrap h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  line-height: 1.45;
  font-weight: bold;
  margin-bottom: 20px;
}

#portfoliowrap .name-zig {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dish-name {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

#chefwrap {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f3f3f3;
}

.chef-desc h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  line-height: 1.45;
  font-weight: bold;
  text-align: center;
}

#chefwrap .name-zig {
  margin-bottom: 30px;
}

#contactwrap h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: whitesmoke;
}